{% for address_name, address_value in ipv4_address.items() %}
{% if address_value.range == "absent" %}
set shared address {{ address_name }} ip-netmask {{ address_value.ipv4_mask }}
{% endif %}
{% if address_value.range == "present" %}
set shared address {{ address_name }} ip-range {{ address_value.ipv4_mask }}
{% endif %}
{% endfor %}
{% for add_grp_name in ipv4_add_grp %}
set shared address-group {{ add_grp_name }} static [ {{ipv4_add_grp[add_grp_name] }} ]
{% endfor %}
