{% for address_name, address_value in ipv4_address.items() %}
set shared address {{ address_name }} ip-netmask {{ address_value.ipv4_mask }}
set shared address {{ address_name }} ip-netmask disable-override no
{% endfor %}
