{% for address_name, address_value in ipv4_address.items() %}
set address {{ address_name }} ip-netmask {{ address_value.ipv4_mask }}
set address {{ address_name }} ip-netmask disable-override no
set address {{ address_name }} {{ address_value.ipv4_desc }}
{% endfor %}
