{% for service_name, service_port in services.items() %}
set shared service {{ service_name }} protocol {{ service_port.type }} port {{ service_port.number }}
set shared service {{ service_name }} protocol {{ service_port.type }} override no
{% endfor %}
